body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
 
  #conteudo {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);    
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
  
  .celular {
    width: 320px;
    max-width: 320px;
    height: 650px;
    background: #000;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tela {
    background: linear-gradient(to right, #4CA1AF, #C4E0E5);
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 30px;
  }
  
  .barratop {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    background: rgba(51, 51, 51, 0.2);
    overflow: hidden;
    border-bottom: 1px solid hsla(0, 0%, 43%, 0.2);
  }
  
  .dock-esquerdo, .dock-direito {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    color: #fff;
  }
  
  .dock-esquerdo {
    padding: 5px 10px 0 5px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    text-shadow: -1px 0 #bbb, 0 1px #bbb, 1px 0 #bbb, 0 -1px #bbb;
  }
  
  .clock {width: 100%}
  
  .dock-direito {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px 0 5px;
  }
  
  .dock { 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30px;
    padding: -5px 5px 0 5px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .dock .sensor, .dock .camera {
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    margin: 0 3px 14px 3px;
  }
  
  .dock .speaker {
    width: 60px;
    height: 8px;
    background: #000;
    border-radius: 7px;
    margin: 0 5px 17px 5px;
  }
  
  #fulldisplay {
    overflow: -moz-hidden-unscrollable;
    display: flex;
    justify-content: center;
    flex: 1;
    height: 500px;
    max-height: 500px;
    padding-top: 18px;
    padding-bottom: 18px;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .icon-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgba(6, 0, 65, 0.5);
    margin: 10px 10px 27px 10px;
    border-radius: 12px;
    color: #f8f8f8;
  }

  a {
      color: inherit;
  }

  .icon-app:hover {
    color: rgb(86, 139, 255);
    cursor: pointer;
  }
  
  #dock-home {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .buttons-home {
    display: flex;
    background: rgba(228, 228, 228, 0.2);
    border-radius: 20px;
    padding: 3px;
  }
  
  .buttons-home .icon-app {
    margin: 7px;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  
  .dock-bt-home {
    display: flex;
    flex: 1;
    height: 25px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .dock-bt-home .home {
    width: 50px;
    height: 5px;
    background: rgba(117, 117, 117, 0.924);
    border-radius: 30px;
  }

  .tituloapp {
    margin-top: 35px;
    font-weight: bold;
  }

  .container {
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
  }

  #nameminutos {
      color: rgb(42, 53, 78);
      padding: 15px;
      font-family: sans-serif;
      font-size: 25pt;
      font-weight: bold;
  }

  #namesegundos {
    color: rgb(42, 53, 78);
    padding: 15px;
    font-family: sans-serif;
    font-size: 25pt;
    font-weight: bold;
}

#comecar {
    color: rgb(42, 53, 78);
    top: 2rem;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 20pt;
    padding: 15px;
    width: 100%;
    background-color: rgb(228, 232, 238);
}

#comecar:hover {
    color: rgb(55, 118, 255);
    box-shadow: 2px 5px 5px rgb(84, 124, 255);
}

#comecar:focus {
    outline-style: none;
}

#caixasegundos {
    height: 25px;
    width: 100%;
    margin-bottom: 40px;
    border: 0;
    border-radius: 5px;
}

#caixaminutos {
    height: 25px;
    width: 100%;
    border: 0;
    border-radius: 5px;
}

#mostrador {
    font-size: 25px;
    margin-top: 20px;
}